* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrapper {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  font-size: 22px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.item:nth-child(10n + 1),
.item:nth-child(-n + 10) {
  background-color: cornflowerblue;
  color: #fff;
}
