* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  font-size: 20px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p {
  margin-bottom: 0;
}
.list {
  margin-top: 20px;
}
.weather {
  min-width: 500px;
  /* border: 1px solid red; */
  background-color: #28338f;
  color: #fff;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  > * {
    justify-self: center;
    align-self: center;
  }
  .weather__date,
  .weather__place {
    font-size: 26px;
    font-weight: 500;
  }

  .weather__refresh {
    font-size: 40px;
    cursor: pointer;
  }
  .weather__refresh.active {
    animation: myrotate 2s infinite;
  }
}
.search {
  position: absolute;
  width: 300px;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  padding: 3px 5px;
}
.error {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  right: 0;
  top: 0;
  /* transform: translateX(-100%); */
  > .error__item {
    background-color: red;
    color: #fff;
    font-size: 24px;
    padding: 10px;
  }
}
@keyframes myrotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
